/* This stylesheet is used to style the admin option form of the plugin. */

body {
	font-size: 12px;
	line-height: 1.4em;
	font-family: sans-serif;
}

div.uploader {
	margin-bottom: 1.4em;
}

#slideshow-images {
	list-style: none;
}

#slideshow-images li {
	list-style: none;
	display:inline;
	float: left;
}

#slideshow-images li div.thumbnail {
	width: 111px;
	height: 111px;
	overflow: hidden;
	text-align: center;
}

#slideshow-images li div.thumbnail div.centered {
	width: 100%;
	height: 100%;
	-webkit-transform: translate(50%, 50%);
	-moz-transform: translate(50%,50%);
	-ms-transform: translate(50%,50%);
	-o-transform: translate(50%,50%);
	transform: translate(50%,50%);
}

#slideshow-images li div.thumbnail img {
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
}

#slideshow-images li div.thumbnail img.landscape {
	max-height: 111px;
	width: auto;
}

#slideshow-images li div.thumbnail img.portrait {
	max-width: 111px;
	height: auto;
}

#slideshow-patterns {
	display: block;
	list-style: none;
	margin-top: 1.4em;
}

#slideshow-patterns li {
	float: left;
	border: 2px solid #DDD;
}

#slideshow-patterns li.selected {
	float: left;
	border: 2px solid #22BBFF;
}

#slideshow-patterns li:hover {
	border: 2px solid black;
}

#slideshow-patterns li a {
	display:block;
	width: 111px;
	height: 50px;
	background-repeat: repeat;
	background-color: #DDD;
}

#preview_wrapper {
	width: 100%;
	height: 500px;
	overflow: hidden;
	position: relative;
	margin-top: 1.4em;
}

#bg-preview {
	position: relative;
	z-index: -1000;
	width: 100%;
	height: 100%;
}

div.mc-image.fade {
	-webkit-transition: opacity 1s ease-in-out;
	-moz-transition: opacity 1s ease-in-out;
	-o-transition: opacity 1s ease-in-out;
	transition: opacity 1s ease-in-out;
}

div.mc-image.slide {
	-webkit-transition: left 1s ease-in-out;
	-moz-transition: left 1s ease-in-out;
	-o-transition: left 1s ease-in-out;
	transition: left 1s ease-in-out;
}

#bg-overlay {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -999;
	width: 100%;
	height: 100%;
}