#big_background {
	min-width: 100%;
	min-height: 100%;
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
}

#background_images {
	position: fixed;
	z-index: -2000;
	width: 100%;
	height: 100%;
}

div.mc-image.fade {
	-webkit-transition: opacity 1s ease-in-out;
	-moz-transition: opacity 1s ease-in-out;
	-o-transition: opacity 1s ease-in-out;
	transition: opacity 1s ease-in-out;
}

div.mc-image.slide {
	-webkit-transition: left 1s ease-in-out;
	-moz-transition: left 1s ease-in-out;
	-o-transition: left 1s ease-in-out;
	transition: left 1s ease-in-out;
}

#background_overlay {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1999;
	width: 100%;
	height: 100%;
}